bower_components
node_modules
*.map

client/bundles
client/dist
client/jspm_packages
client/platforms
!client/platforms/.gitkeep
client/plugins
!client/plugins/.gitkeep
client/www
**/.DS_Store

server/data
!server/data/.gitkeep


